{{!-- <LinkTo @route='cart' class='cart-link'>
  <i class='fa fa-shopping-cart'></i>
</LinkTo>

<main class='container mt-5'>
  item
  {{this.model}}
  works
</main> --}}

{{! reusable componet }}
<GeneralContainer>
  item is here
  {{this.model}}
  works</GeneralContainer>